<%- include('../partials/header') %>
<section id="show-page">
    <div>Inventory:
        <%= rooms.name %>
        <%= rooms.description %>
    </div>
</section>

<h2>InventoryU</h2>

<br>
<form id="add-per-to-room" action="rooms/<%= rooms._id%>new" method="POST">
    <label>Room</label>
    <select name="room">
    <option value="LVRM">Living Room</option>
    <option value="KTCH">Kitchen</option>
    <option value="BEDRM">Bed Room</option>
    <option value="KITCN">Kitchen</option>
    <option value="GUESTRM">Guest Room</option>
    <option value="DNGROOM">Dining Room</option>
    <option value="GARAGE">Dining Room</option>
    <option value="DEN">Dining Room</option>
    <option value="OFFICE">Dining Room</option>
    <option value="MUSICROOM">Music Room</option>
    </select>
<input value="Add Room" type="submit" />
</form>

<%- include('../partials/footer') %>