<%- include('../partials/header') %>
<section id="show-page">
    <div>Inventory:
        <%= room.name %>
        <%= room.description %>
    </div>
    <div>Item:
        <%= item.name %>
        <%= item.description %>
    </div>
</section>

<!-- start item list -->
<ul>
    <% items.forEach(function(t) { %>
        <div>Room: Item:
            <%= t.item %> Item:
            <%= t.description %> Description:
        </div>
        <form action="/items/<%= item._id%>/items/<%=t._id %>?_method=DELETE" method="POST"><button>Delete
        Items</button></form>
    <% }) %>
</ul>
<!-- end item list -->
</section>

<!-- add to room form below -->
<a id="newRoom" href="/rooms/<%= room._id %>/rooms/new">New Room</a>

<h2>Inventory</h2>
<% if (room.items.length > 0) { %>
    <% room.items.forEach(function(ds) { %>
        <div>Rooms:
            <%= ds.room %>
        </div>
        <div>Items:
            <%= ds.item %>
        </div>
    <% }) %>
<% } %>
<br>
<form id="add-per-to-room" action="/rooms/<%= room._id%>/rooms" method="POST">
    <label>Room</label>
    <select name="room">
        <option value="LVRM">Living Room</option>
        <option value="KTCH">Kitchen</option>
        <option value="BEDRM">Bed Room</option>
        <option value="KITCN">Kitchen</option>
        <option value="GUESTRM">Guest Room</option>
        <option value="DNGROOM">Dining Room</option>
        <option value="GARAGE">Dining Room</option>
        <option value="DEN">Dining Room</option>
        <option value="OFFICE">Dining Room</option>
        <option value="MUSICROOM">Music Room</option>
    </select>
    <input type="datetime-local" id="item" name="item" value="2019-08-25T00:10" min="2019-0808T00:00" max="2030-08-08T:00">
    <input value="Add to Room" type="submit" />
</form>
<%- include('../partials/footer') %>