<%- include('../partials/header') %>
  <section id="show-page">
  <!-- add to ticket form below -->
<table>
  <thead>
    <tr>
      <th>Room </th>
      <th>Description </th>
      <th>Details </th>
      <th>Delete </th>
    </tr>
  </thead>
  <tbody>
    <% rooms.forEach(function(rm) { %>
    <tr>
        <td><%= rm.name %></td>
        <td><%= rm.description %></td>
        <td><%= rm.name %></td>
        <td> <a href='rooms/<%= rm._id %>'>Details</a></td>
        <td><form action="/rooms/<%= rm._id%>?_method=DELETE" method="POST"><button>Delete Room</button></form></td>
    </tr>
  <% }); %>
  </tbody>
</table>
</section>
  <%- include('../partials/footer') %>