<%- include('../partials/header') %>
<section id="show-page">
  <div>Room: <%= room.name %> </div>
  <div>Description: <%= room.description %></div>
  <div>Assets:<%= items.name %> </div>
  <div>Asset Description: </div>
  <div><%= items.description %></div>
  
</section>

<%- include('../partials/footer') %>
