<%- include('../partials/header') %>
<label>Enter Room Description <%= room.name %></label>
<form action="/rooms/<%= room %>?_method=PUT" method="POST">
  <textarea name="description"></textarea>
  <br>
  <button type="submit">Update Room Description</button>
</form>

<a id="newAsset" href="/rooms/<%= room._id %>items/new">Add Asset</a>
<input value="Add Asset" type="submit" />

<footer>
  <%- include('../partials/footer') %>
</footer>
